body {
	background-color: #000000;
}

.grid-contenedor {
	display: grid;
	grid-template-areas: auto auto auto auto auto auto;
	grid-gap: 10px 10px;
	padding: 10px;
	background-color: #99CCFF;
}
  
.grid-contenedor > div {
	background-color: rgba(255, 255, 255, 0.8);
	font-family: 'calibri';
	padding: 20px 20px;
}

.encabezado {
	grid-area: encabezado;
	font-size: 50px;
	color:yellow;
	text-shadow: 2px 2px red;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
	background-image: url('../img/header.jpg');
}

.cuerpo {
	grid-area: cuerpo;
	font-size: 18px;
	text-align: justify;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
  	grid-row-end: 6;
}

.ladoA {
	grid-area: ladoA;
	font-size: 18px;
	text-align: justify;
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 2;
  	grid-row-end: 4;
}

.ladoB {
	text-align: center;
	grid-area: ladoB;
	font-size: 18px;
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 4;
  	grid-row-end: 6;
}

.img1 {
	padding: 20px 20px;
	float: right;
	max-width: 300px;
  }

.img2 {
	padding: 20px 20px;
	float: left;
	max-width: 300px;
}

.img3 {
	padding: 20px 20px;
	max-width: 300px;
}

.icono {
	float: left;
	padding: 10px 10px;
	max-width: 50px;
}